@model AuthenticationUser.Models.All_User
@{
    ViewBag.Title = "LogIn";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LogIn Here...</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Fill Your Credentials</legend>

    <div class="editor-label">
        @Html.Label("UserName")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="editor-label">
        @Html.Label("Password")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <p>
        <input type="submit" value="LogIn" />
    </p>
</fieldset>
}
